

<div class="ticket-list">
  
  <button (click)="displayTicketArchived = !displayTicketArchived">
    {{ displayTicketArchived ? 'Hide archived tickets' : 'Show archived tickets' }}
  </button>
  <div class="ticket" *ngFor="let ticket of filterTickets()">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-ticket 
        [ticket]="ticket" 
        (ticketHasBeenSelected)="ticketHasBeenSelected($event)" 
        (ticketDeleted)="ticketDeleted($event)"
        
        >
      </app-ticket>
     

  </div>
</div>
